* {
    margin: 0;
    padding: 0;
}
.basic__header {
    position: sticky;
}
.website_starter_header {
    color: #10c82d;
    cursor: text;
}
.ydtext {
    width: 690px;
    cursor: pointer;
}
body {
    background: url(images/Header\ Banner.png);
    background-size: cover;
}
.Open-Source_Link {
    color: blue;
}
.text_header {
    color: #15e90d;
}
.text_paragraph {
    color: rgb(51, 22, 212);
}
.footer {
    color: orange;
}
.bot_description {
    color:rgb(87, 250, 109)
}
